


$open:      'Open Sans', sans-serif;


$white:      #fff;

$green:  #4fc687;
$light-blue: #c9eaf9;

$light-gray:  #e8eced;

$black:      #15252e;

$text-headline: #5d717b;
$text-color: #5d717b;
$text-meta:  #79929d;

$gray-btn:   #5b7582;